<!DOCTYPE html>
<html>
<head>
	<title>Fancy Clock</title>
	<script type="text/javascript" src="../scripts/clock.js"></script>
	<script type="text/javascript" src="../scripts/drawer.js"></script>
	<script type="text/javascript" src="../scripts/point.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/clockDesign.css">
	<script>
		document.addEventListener("DOMContentLoaded", function() {
			var canvas = document.getElementById('canvas'),
				context = canvas.getContext('2d'),
				PI2 = Math.PI*2;

			function degToRad(degree) {
				var factor = Math.PI / 180;
				return degree * factor;
			}

			function getX(degree, radius) {
				return radius*Math.sin(degToRad(degree));
			}

			function getY(degree, radius) {
				return radius*Math.cos(degToRad(degree));
			}

			function clock() {
				var	date = new Date();
				Drawer.init(context);

				//background
				context.rect(0, 0, canvas.width, canvas.height);
				var grd = context.createRadialGradient(225,225,2, 225,225,180);
				grd.addColorStop(0, "#181818");
				grd.addColorStop(1, "#050505");
				
				context.fillStyle = grd;
				context.fill();
				
				//time lines
				Drawer.setStrokeStyle(1, "#0a0a0a");

				for(i = 0; i < 3; i++) {
					Drawer.drawArc(canvas.width/2, canvas.height/2, 
						( (canvas.height < canvas.width) ? (canvas.height/2)-25-(i*20) : (canvas.width/2)-25-(i*20) ),
						359.99, context);
				}

				//clock face
				var a,b;
				var rad = ( (canvas.height < canvas.width) ? (canvas.height/2)-25 : (canvas.width/2)-25 );
				var degree = 0;
				
				for(i = 0; i < 60; i++) {
					if( i % 5 === 0 ) {
						Drawer.setStrokeStyle(2, "#6f6f6f");

						a = {	x:	Point.getXOnArc(rad + 10, degree, canvas.height/2),
								y:  Point.getYOnArc(rad + 10, degree, canvas.height/2)};

						b = { 	x:	Point.getXOnArc(rad - 10, degree, canvas.height/2),
								y:  Point.getYOnArc(rad - 10, degree, canvas.height/2)}; 

						Drawer.drawLine(a, b);
						degree += 6;
					} else {
						Drawer.setStrokeStyle(1, "#6f6f6f");
						
						a = {	x:	Point.getXOnArc(rad + 5, degree, canvas.height/2),
								y:  Point.getYOnArc(rad + 5, degree, canvas.height/2)};

						b = { 	x:	Point.getXOnArc(rad - 5, degree, canvas.height/2),
								y:  Point.getYOnArc(rad - 5, degree, canvas.height/2)};

						degree += 6;

						Drawer.drawLine(a, b);
					}
				}

				Drawer.setStrokeStyle(1, "#6f6f6f");
				Drawer.drawArc(225, 225, 200, Clock.getRealHours()*30);
				Drawer.drawArc(225, 225, 180, Clock.getRealMinutes()*6);
				Drawer.drawArc(225, 225, 160, Clock.getRealSeconds()*6);
	
				Drawer.printString("20px verdana bold", "#707070", Clock.getDay(), 145, 212);
				Drawer.printString("15px verdana", "#707070", Clock.getTime(), 145, 237);
				
			}
			setInterval(clock, 1000/50);
		});
	</script>
</head>
<body>
	<div id="content">
		<canvas id="canvas" width="450" height="450"></canvas>
	</div>
</body>
</html>